.tituloConsulta{
    h3 {
        font-weight: 100;
        font-size: 2em;
        color: #0064ad;
    }
}

.spiner .spinner-grow {
    margin: auto;
    margin-top: 50px;
}

.buscador {
    margin-bottom: 25px;
}