.cardRepository {
    padding: 10px;
    .iconCard{
        width: 100%;
    }
    h5 {
        font-weight: 100;
        font-size: 2em;
    }
    a {
        width: 100%;
        background: #0064ad;
    }

}